.headWrap{
    background: rgba(00, 00, 00, 0.6);
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between
}

.headWrap img{
    cursor: pointer;
}

.headWrap > .logoWrap{
    width: 20%;
    height: 50%;
    margin-top: 0.5%;
    background-image: url(../../../../img/logo.png); 
    background-repeat: no-repeat;
    transition: background-image 1s;
}

.headWrap > .logoWrap:hover{
    background-image: url(../../../../img/logohover.png); 
}

.headWrap > .signinWrap{
    width: 7%;
    height: 64%;
    margin-top: 0.5%;
    background-image: url(../../../../img/signin.png); 
    background-repeat: no-repeat;
    transition: background-image 1s;
}

.headWrap > .signinWrap:hover{
    background-image: url(../../../../img/signinhover.png);
}

.headWrap a{
    text-decoration: none;
}

.headWrap a img{
    vertical-align: middle;
}

.headWrap a span{
    color: #F4A300;
}