.headWrap{
    background: rgba(00, 00, 00, 0.6);
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between
}

.headWrap img{
    cursor: pointer;
}