.commonHeadWrap{
    background: rgba(00, 00, 00, 0.6);
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between
}

.commonHeadWrap img{
    height: 25px;
}

.commonHeadWrap .backIcon{
    cursor: pointer;
}

.commonHeadWrap a{
    text-decoration: none;
}

.commonHeadWrap a img{
    vertical-align: middle;
}

.commonHeadWrap a span{
    color: #F4A300;
}