.homeWrap{
    width: 100%;
    height: 100%;
    flex: 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.upWrap{
    display: flex;
    flex-direction: row;
}
.downWrap{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}